body{
    margin: 0;
    text-align: center;
    
}
.top-container{
    background-color: #eaf6f6;
    padding-top: 50px;
    position: relative;
}

.top-cloud{
    position: absolute;
    right: 200px;
    top: 50px;
}

.bottom-cloud{
    position: absolute;
    left: 200px;
    bottom: 300px;
}

h1, h2, h3 {
    color: #66bfbf;
}

h1{
    font-family: 'Pacifico', cursive;
    font-size: 70px;
    margin-bottom: 0;
}

h2, h3 {
    font-family: 'Unbounded', cursive;
}

h2 {
    font-size: 30px;
}
p {
    font-family: 'Comfortaa', cursive;
    
    width: 40%;
    margin: 0 auto;
}

.middle-container {
    
    margin: 30px;
}

hr {
    
    border-style: dotted none none none;
    border-width: 7px;
    width: 4%;
    color: #eaf6f6;
    margin: 100px auto;
}

.hero{
    margin-top: 50px;
}

.middle-container-table{
    width: 60%;
    margin: 0 auto;
}

.p-table{
    width: 100%;
    
}

table{
    text-align: left;
}
.skill-img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    
}

.chillies {
    width: 55%;
    margin: 0 auto;
    

}

.chillies .skill-img{
    width: 30%;
    float: right;
}

.chillies-text{
    padding-right: 20px;
    width: 65%;
    float: left;
    text-align: left;
    margin-top: 30px;
}



  .float-clear {
    float: none;
    visibility: hidden;
  }

  .get-in-touch{
    margin-bottom: 45px;
  }



  /* .get-in-touch-btn{
    border: solid;
    border-radius: 5px;
    padding: 7px 15px;
    border-width: 1px;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    background-color: #66bfbf;
    color: white;
  } */

  .btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }


  .footer{
    background-color: #66bfbf;
    margin-top: 100px;
    padding: 40px 0;
    
  }

  .footer a{
    color: #11999e;
    text-decoration: none;
    margin: 0 20px;
    font-size: 1.1rem;
  }

  .footer p{
    color: white;
    margin-top: 30px;
    
    font-size: 0.8rem;
  }