body{
    margin: 0;
    text-align: center;
    
}
.top-container{
    background-color: #eaf6f6;
    padding-top: 50px;
    position: relative;
}

.top-cloud{
    position: absolute;
    right: 200px;
    top: 50px;
}

.bottom-cloud{
    position: absolute;
    left: 200px;
    bottom: 300px;
}

h1, h2, h3 {
    color: #66bfbf;
}

h1{
    font-family: 'Pacifico', cursive;
    font-size: 70px;
    margin-bottom: 0;
}

h2, h3 {
    font-family: 'Unbounded', cursive;
}

h2 {
    font-size: 30px;
}
p {
    font-family: 'Comfortaa', cursive;
    
    width: 40%;
    margin: 0 auto;
}

.middle-container {
    
    margin: 30px;
}

hr {
    
    border-style: dotted none none none;
    border-width: 7px;
    width: 10%;
    color: #2f4141;
    margin: 100px auto;
}

.hero{
    margin-top: 50px;
}

.middle-container-table{
    width: 60%;
    margin: 0 auto;
}

.p-table{
    width: 100%;
    
}

table{
    text-align: left;
}
.skill-img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    
}

.chillies {
    width: 55%;
    margin: 0 auto;
    

}

.chillies .skill-img{
    width: 30%;
    float: right;
}

.chillies-text{
    padding-right: 20px;
    width: 65%;
    float: left;
    text-align: left;
    margin-top: 30px;
}



  .float-clear {
    float: none;
    visibility: hidden;
  }

  .get-in-touch{
    margin-bottom: 45px;
  }

  .footer{
    background-color: #66bfbf;

  }

  .get-in-touch-btn{
    border: solid;
    
    border-radius: 5px;
    padding: 7px 15px;
    border-width: 1px;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    background-color: #66bfbf;
    color: white;
  }